.root {
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
}

.label {
    
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
	-fx-border-radius:4px
  
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #3e8e41;
}

.combo-box{
	-fx-background-color: white;
	    -fx-border-color: black;
}