.root {
		-fx-border-color: rgb(109, 116, 126);
	    -fx-border-width:15px;
	    -fx-padding: 8px;
		-fx-background-color:rgb(159, 166, 176);
}

.button:hover {
    -fx-background-color: #3e8e41;
}


.menu-bar{
	
}

.menu{
	-fx-cursor: hand;

}

.menu:hover{
	 -fx-background-color: rgb(142, 176, 195);
}


.menu-item{
	-fx-cursor: hand;
}

.menu-item:hover{
	-fx-background-color:rgb(142, 176, 195);
}

